div#site{
    height: 100% !important;
}

div#notebook{
    padding: 0;
}

.container {
  width:100% !important;
}

#notebook-container {
  background:rgba(66,59,59,1);
}

div.input_prompt {
    color: #fc6320;
}

div.output_area pre {
    color: #fc6320;
}

div.cell.selected {
    border:0 ;
    border-left-width: 0px;
    padding-left: 6px;
    background: linear-gradient(to right, #fc6320 -40px, #fc6320 5px, transparent 5px, transparent 100%);
}
.close {
  color:white;
}
